---
import {GET} from "@/pages/plugins.json";
import Plugin from "@/components/plugins/Plugin.astro";
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import SectionSubheader from "@/components/SectionSubheader.astro";

const plugins = await GET().then(v => v.json());
---

<Layout
  title="Flow Launcher Plugins"
  description="Explore and discover a variety of plugins for Flow Launcher, enhancing your productivity and customizing your experience."
>
  <Section>
    <SectionHeader>Plugins</SectionHeader>
    <SectionSubheader>Extend Flow Launcher's functionality</SectionSubheader>
    <div class="plugin-grid">
      {plugins.map(v => <Plugin plugin={v}/>)}
    </div>
  </Section>
</Layout>

<style>
.plugin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 24px;
}
</style>
