---
import Section from "@/components/main-page/Section.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import Feature from "@/components/main-page/Feature.astro";
import Swiper from "@/components/Swiper.astro";
import MainPageData from "@/assets/main-page-data.json";
---
<Section>
  <SectionHeader>Features</SectionHeader>

  <Swiper>
    {MainPageData.features.map(v =>
      <Feature
        image={v.image}
        subtitle={v.subtitle}
        title={v.title}
        color={v.color}
      />
    )}
  </Swiper>
</Section>
