---
import Section from "@/components/Section.astro";
import SectionHeader from "../SectionHeader.astro";
import SectionSubheader from "../SectionSubheader.astro";
import PrimaryButton from "../PrimaryButton.astro";
---
<Section even padding="130" class="sponsor-section">
  <SectionHeader>Flow Launcher is a free and open-source software</SectionHeader>
  <SectionSubheader>Support this project.</SectionSubheader>
  <PrimaryButton variant="black" href="https://github.com/sponsors/Flow-Launcher?frequency=one-time"
                 class="sponsor-button">
    Become A Sponsor
  </PrimaryButton>
</Section>

<style>
.sponsor-section {
    text-align: center;
}

.sponsor-button {
    height: 40px !important;
    margin-top: 40px;
    font-weight: 700;
    font-size: 15px;
}
</style>
